{% extends 'base.html' %}

{% block content %}
<h1>Dark Room</h1>
<p>Listen...</p>
<ul class="sing-list"></ul>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    var source = new EventSource("{{ url_for('sse.stream') }}");
    source.addEventListener('sing', function(event) {
        var data = JSON.parse(event.data);
        $('.sing-list').before('<li><strong>' + data.username + '</strong> is sing...</li>')
    }, false);
    source.addEventListener('error', function(event) {
        alert('Failed to connect server, please try again later.');
    }, false);
    });
  </script>
{% endblock %}
